html {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  height: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}