.expression-box {
  border: 0.4rem solid #f7f7f7;
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: #222222;
}

.expression {
  text-align: center;
  color: #f7f7f7;
  font-size: 4rem;
  margin: 2.5rem 0;
}