.keyboard-info {
  h3 {
    margin: 0;
  }

  p {
    font-size: 1.1rem;
    letter-spacing: 0;
    user-select: text;
  }
}

.key-descr {
  font-family: 'Courier New';
  border: 0.1rem gray solid;
  border-radius: 0.2rem;
  padding: 0 0.4rem;
}