.main {
  margin: 0 auto;
  width: 50rem;
  max-width: 85%;
  padding: 0 0.5rem;
  letter-spacing: 0.2rem;
}

.footer {
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
}

.prj-year {
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 700;
  margin: 0 0.5rem;
}

.link-icon {
  height: 2.2rem;
}
