.main {
  margin: 0 auto;
  width: 50rem;
  max-width: 85%;
  // border: 1px solid red;
  min-height: 50vh;
  letter-spacing: 0.2rem;
}

.expression-box {
  border: 0.3rem solid #f7f7f7;
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: #222222
}

.expression {
  color: #f7f7f7;
  font-size: 3rem;
  word-spacing: 0.5rem;
  // letter-spacing: 0.2rem;
  margin: 1.5rem 0;
}


.counter-wrap {
  margin: 1.3rem 0;
  display: flex;
  justify-content: center;
}

.counter {
  color: #f7f7f7;
  font-size: 1.6rem;
}

// .counter,
// .expression {
//   letter-spacing: 0.2rem;
// }
