.multiply-setting-wrap {
  margin-bottom: 0.5rem;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.settings-block {
  margin-bottom: 3rem;
}

.number-range {
  display: flex;
  justify-content: space-between;

  input {
    width: 25%;
    height: 1rem;
  }
}

.option {
  font-size: 1rem;
}