.variants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.variant {
  cursor: pointer;
  line-height: 17vh;
  color: #f7f7f7;
  border-radius: 1.2rem;
  background-color: #222222;
  font-size: 2.5rem;
  overflow-x: auto;
  padding: 0.3rem;
  
  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.variant-wrap {
  text-align: center;
  width: 30%;
  margin-bottom: 4vh;
}