.variants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.variant {
  cursor: pointer;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  border-radius: 1.2rem;
  background-color: #222222;
  font-size: 2.5rem;
  
  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.variant-wrap {
  width: 30%;
  margin-bottom: 4vh;
}